body {
	padding: 0px;
	margin: 0px;
	min-height: 100%;
	font-family: Helvetica, Arial, '微軟正黑體', 'LiHei Pro', sans-serif;
	font-weight: normal;
}

ul, li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
a, .caption-text a{
	color: #4A81B2;
	text-decoration: none;
    outline: none; /* for Firefox Google Chrome  */
	behavior:expression(this.onFocus=this.blur()); /* for IE */
	display: block;
}
.bg-gray{
	background: #F6F8FC;
}
.bg-blue{
	background: #2F3D4E;
	color: #fff;
}
h2{
	color: #2F3D4E;
	font-size: 30px;
	font-weight: inherit;
	margin-bottom: 30px;
}
h3{
	color: #2F3D4E;
	font-size: 30px;
	font-style: italic;
}
h4{
	color: #2F3D4E;
	font-size: 17px;
	margin-top:10px;
}
h5{
	font-size: 19px;
	/*font-weight: bold;*/
	color: #2F3D4E;
	margin-top: 20px;
}
h6{
	font-size: 22px;
	color: #383838;
	font-weight: bold;
	letter-spacing: 0.8;
	text-align: left;
	margin-top: 40px;
}
p{
	color: #383838;
	font-size: 16px;
	line-height: 32px;
	font-weight: 300;
	margin: 0;
	padding: 0 16px;
}
hr{
	width: 70px;
	margin-bottom: 60px;
}
.font-normal{
	color: #3E3A39;
	font-size: 18px;
}
.font-bold{
	color: #3E3A39;
	font-size: 17px;
	font-weight: 400;
}
.font-subdark{
	color: #515C69;
}
.font-darkgray{
	color: #383838;;
}
.font-gray{
	color: #7C8DA1;
}
.font-white{
	color: #fff;
}
.top-25{
	margin-top: 25px;
}
.top-95{
	margin-top: 95px;
}
.bottom-5{
	padding-bottom:5px;
}
.bottom-25{
	padding-bottom:25px;
}
.bottom-70{
	padding-bottom:70px;
}
.top-16{
	margin-top: 16px;
}
.center-text{
	text-align: center;
	vertical-align: middle;
}
.left-text{
	text-align: left;
}
.mark-pen {
	background-image: linear-gradient(transparent 50%, rgba(255, 247, 162, 0.5) 50%)
}
.bluebar{
	background-color: #A2C6D1;
	width: 70px;
	height: 5px;
	margin-top: 8px;
	display: block;
}

/*bootstrap*/
.col-md-5{
	height:300px;
}
.col-md-5, .col-md-6{
	display: inline-block;
	overflow: hidden;
	vertical-align: text-top;
}
.col-md-4{
	width:96%;
	display: inline-block;
	vertical-align: top;
	margin: 20px 0;
}
.col-md-9, .col-md-10{
	margin:0 auto;
}
.container{
	text-align: center;
	padding: 40px 0;
	max-width: 1440px;
}

/*navbar*/
nav{
	transition: all 0.5s;
}
nav.scrollUp {
	transform: translateY(-80px);
  }
.navbar, .navbar-brand, .navbar-brand:hover, .navbar-nav a{
	font-size: 14px;
	color: #1E2128;
	background: #ffffff;
}
.navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(30, 33, 40, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}

.hamburger {
	padding: 0;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible; }
	.hamburger:hover {
	opacity: 0.7; }
	
	.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative; }
	
	.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; }
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 20px;
	height: 3px;
	background-color: #000;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease; }
	.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block; }
	.hamburger-inner::before {
	top: -6px; }
	.hamburger-inner::after {
	bottom: -10px; }
	
	.hamburger--collapse .hamburger-inner {
	top: auto;
	bottom: 0;
	right: 10px;
	transition-duration: 0.13s;
	transition-delay: 0.13s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
	.hamburger--collapse .hamburger-inner::after {
	top: -12px;
	transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
	.hamburger--collapse .hamburger-inner::before {
	transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
	
	.hamburger--collapse.is-active .hamburger-inner {
	transform: translate3d(0, -10px, 0) rotate(-45deg);
	transition-delay: 0.22s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
	.hamburger--collapse.is-active .hamburger-inner::after {
	top: 0;
	opacity: 0;
	transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
	.hamburger--collapse.is-active .hamburger-inner::before {
	top: 0;
	transform: rotate(-90deg);
	transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*container*/
#KV{
	/**background:linear-gradient( #ffffff, #F6F8FC);**/
	background-color: #ffffff;
	/*height: 100vh !important;*/
	height: 450px;
	text-align: center;
	vertical-align: middle;
	color: #1E2128;
	padding:200px 0 0 0;
	position: relative;
}
/*.inner{
	width: 100%;
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}*/
.img-kv{
	width: 90%;
	max-width: 700px;
	height: auto;
	margin:0 auto;
}
.bottom-info{
	border-top: 2px solid #2F3D4E;
	width: 94%;
	max-width: 1440px;
	margin: 0 auto;
}
#KV li, .bottom-info li{
	display: inline-block;
	margin: 10px;
}
#KV li img, .bottom-info li img{
	width: 30px;
	height: auto;
}
#KV p{
	font-size: 18px;
	color: #383838;
	margin: 0 auto;
	padding: 0 30px;
}
#KV b{
	font-size: 24px;
	font-weight: 900;
	line-height: 1.2em;
	display: block;
	margin: 24px 0;
}
#KV button{
	color: #383838;
	/*background-color: #1E2128;*/
	font-size: 22px;
	font-weight: 600;
	/*border-radius: 25px;
	margin: 20px;
	padding: 2px 25px;*/
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	bottom:7%;
}
#KV button:hover{
	/*background-color: #E2E8F1;*/
	color: #305585;
}
#KV button img{
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
}
#KV .btn_box a{
	font-size: 16px;
	color: #2F3D4E;
	background-color: #E6EBF1;
	width: 170px;
	padding: 5px;
	border-radius: 20px;
	margin: 0 auto;
}
#KV .btn_box{
	display: block;
	width: 100%;
}

/*arrow 動畫*/
.arrow {
	position: absolute;
	left: 49%;
	bottom: 5%;
	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
			transform: translate3d(-50%, -50%, 0);
  }
  
  .arrow-1 {
	-webkit-animation: arrow-movement 2s ease-in-out infinite;
			animation: arrow-movement 2s ease-in-out infinite;
  }
  
  .arrow-2 {
	-webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
			animation: arrow-movement 2s 1s ease-in-out infinite;
  }
  
  .arrow:before,
  .arrow:after {
	background: #383838;
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
  }
  
  .arrow:before {
	-webkit-transform: rotate(45deg) translateX(-23%);
			transform: rotate(45deg) translateX(-23%);
	-webkit-transform-origin: top left;
			transform-origin: top left;
  }
  
  .arrow:after {
	-webkit-transform: rotate(-45deg) translateX(23%);
			transform: rotate(-45deg) translateX(23%);
	-webkit-transform-origin: top right;
			transform-origin: top right;
  }
  
  @-webkit-keyframes arrow-movement {
	0% {
	  opacity: 0;
	  bottom: 7%;
	}
	70% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @keyframes arrow-movement {
	0% {
	  opacity: 0;
	  bottom: 7%;
	}
	70% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }  
/*arrow 動畫*/
  
/*arrow page*/
.line-arrow{
	position: relative;
	bottom: 10px;
	display: inline-block;
} 
.left, .right{
	background-color: #fffffff1;
	border-radius: 20px;
	padding: 8px;
	height: 50px;
}
.left{
	font-size: 22px;
	display: inline-block;
	left: 30px;
	bottom: 30px;
}
.right{
	font-size: 22px;
	display: inline-block;
	right: 30px;
	float: right;
	bottom: 30px;
}
/*arrow page*/

#pic-banner{
	position: relative;
	padding: 0;
	margin: 2px;
    /*background-color: #ccc;*/
    overflow: hidden;
	display: inline-block;
	/*background-color: #000;*/
}
#pic-banner img{
    -webkit-transform: scale(1);
    -webkit-transition: 3s;
	/*opacity: 0.8;*/
	opacity: 1;
}
#pic-banner:hover img{
    -webkit-transform: scale(1.2);
}
#pic-banner .caption {
    top: 0px;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}
#pic-banner .caption .caption-warp {
    z-index: 20;
    position: absolute;
    /*text-align: center;*/
    width: 100%;
    height: 100%;
    padding: 8px;
    display: none;
}
#pic-banner .caption .caption-warp .caption-text {
	/*vertical-align: middle;*/
	text-align: left;
    display: table-cell;
}
#pic-banner .caption h5 {
	margin:0 auto;
	/*isplay: none;*/
    font-size: 22px;
	text-align: center;
	font-weight: 300;
	/*border: 2px solid rgba(255, 255, 255, 1);
	background-color: rgb(0,0,0, 0.6);*/
	padding: 8px 10px;
	color: #2F3D4E;
}
#pic-banner .caption p {
	padding: 5px 20px;
}
#pic-banner .caption:hover .caption-warp{
	display: table;
}
#pic-banner .caption .caption-warp:hover{
	color: #000000;
	background-color: rgb(255,255,255, 0.93);
}
#aboutme p{
	font-size: 15px;
	line-height: 27px;
	padding: 0;
}
#aboutme a{
	color: #5991D3;
	display: inline;
}
.about_me{
	text-align: left;
	padding-left: 4%;
}
.img-about{
	transform: translateY(-5%);
	width: 100%;
	height: auto;
}
/*webdesign*/
#webdesign button{
	border-radius: 50px;
	padding: 0px 15px;
	margin-top: 15px;
}
/*modal*/
.modal-content p{
	max-width: 800px;
	margin: 15px auto; 
}
.title{
	color: #1E2128;
	font-weight: 600;
	line-height: 52px;
	max-width: 1000px;
	margin: 80px auto 0px auto;
}
.s_title{
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #3E3A39;
	/*font-weight: bold;*/
	font-size: 20px;
}
.s_title_l{
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #3E3A39;
	text-align: left;
	font-size: 18px;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}
.title_scribe{
	color: #83909A;
	font-size: 16px;
	text-align: center;
}
.close{
	text-align: right;
	font-size: 50px;
	margin-right: 10px;
}
.modal img{
	margin: 10px;
}
.w-900{
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
	display: inline-block;
}
.w-800{
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	display: inline-block;
}
.w-600{
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	display: inline-block;
}
.w-300{
	width: 45%;
	min-width: 300px;
	margin: 0 auto;
	padding: 1%;
	display: inline-block;
}
.w-150{
	width: 30%;
	min-width: 150px;
	margin: 0 auto;
	padding: 1%;
	display: inline-block;
}
.w-100max{
	width: 100px;
	margin: 0 auto;
	display: block;
}
/*shineflip book*/
.book{
	width: 100%;
	position: relative;
	margin: 0 auto 20px 0%;
	height: 100%;
	min-height: 280px;
	overflow: hidden;
}
#shineflip img{
	width: 100%;
	max-width: 450px;
	height: auto;
}

@media (min-width:768px){
#KV p{
	font-size: 24px;
}
#KV b{
	font-size: 40px;
}
.col-md-4{
	width: 30%;
}
.col-md-5{
	height: 100%;
}
.book{
	margin: 0 auto 20px -5%;
	width: 105%;
	height: 500px;
	overflow: hidden;
}
#KV .btn_box{
	width: 160px;
	display: inline-block;
}
#aboutme .col-md-5{
	height: 450px;
	overflow: hidden;
	margin-bottom: 20px;
}
.img-about{
	width: auto;
	height: 100%;
	transform: translateX(-25%);
}
}

@media (min-width:960px){
.mobile_meanu{display: none;}
.hamburger{display: none;}
.col-md-4{
	width: 32%;
}
.book{
	margin: 0 auto 20px -25%;
	width: 125%;
	height: 650px;
	overflow: hidden;
}
#aboutme .col-md-5{
	height: 350px;
	overflow: hidden;
}
.img-about{
	width: 100%;
	height: auto;
	transform: translateX(0%);
}
/*arrow page*/
.line-arrow{
	position: fixed;
	top: 50%;
	display: block;
} 
.left, .right{
	height: 45px;
	background-color: #fffffff1;
	border-radius: 20px;
	padding: 8px;
	box-shadow: 0px 3px 6px 6px #515c691f;
}
.left{
	font-size: 18px;
	left: 30px;
}
.right{
	font-size: 18px;
	right: 30px;
}
/*arrow page*/
}

/*lightbox*/
.demo-gallery > ul {
	margin-bottom: 0;
}
.demo-gallery > ul > li {
	float: left;
	margin-bottom: 15px;
	overflow: hidden;
	/*margin-right: 5px;
	/*width: 200px;*/
}
.demo-gallery > ul > li a {
	border: 3px solid #FFF;
	border-radius: 3px;
	display: block;
	overflow: hidden;
	position: relative;
	float: left;
}
.demo-gallery > ul > li a > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.demo-gallery > ul > li a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
    opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 100%;
	width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
	opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
	left: 0;
	position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
     transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
	left: 50%;
	margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}
.demo-gallery.dark > ul > li a {
    border: 3px solid #04070a;
}
.home .demo-gallery {
    padding-bottom: 80px;
}

@media (max-width:960px){
	.d_none{display: none;}
	.navbar-nav{
		padding: 0;
		margin: 0;
		height: 100vh;
		width: 100%;
	}
	.mobile_meanu{
		text-align: center;
		margin-top: 15%;
		height: 100%;
	}
	.mobile_meanu li a{
		margin: 12px 0;
		font-size: 20px;
	}
	.mobile_meanu li:last-child{
		position: fixed;
		width: 100%;
		bottom: 60px;
		text-align: center;
	}
	.mobile_meanu li.icon_menu a{
		display: inline-block;
		margin: 0 20px;
	}
}
